{% extends "../layouts/default.twig" %}

{% block navbar %}
    <ul class="nav navbar-nav">
        {% for link in buyLinks %}
            {% set linkClass = '' %}
            {% if link.key == section %}
                {% set linkClass = 'active' %}
            {% endif %}
            <li clsss="megamenu {{ linkClass | striptags }}" >
                <a href="{{ link.href }}" data-scroll>{{ link.label }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block beforeBody %}
    {% for info in plan %}
        <div class="page-title-section parallax-section" style="background-image: url(images/borolaTpl/comprar/001.jpg);">
            <div class="section-container">
                <div class="breadcrumb-title light-color">
                    <div class="container col-md-3" style="padding-top: 10px;">
                        <h1 class="breadcrumb-main-title">MI MEMBRESÍA</h1>
                    </div>

                    <div class="container col-md-3" >
                        <h1 class="breadcrumb-main-title" style="padding-top: 10px;">{{ info.package_per_month }} ENTREGA{% if info.package_per_month > 1 %}S{% endif %} MENSUAL{% if info.package_per_month > 1 %}ES{% endif %}</h1>
                        <p class="breadcrumb-subtitle">{{ info.weight.weight }} gr. c/u</p>
                    </div>

                    <div class="container col-md-3" >
                        <h1 class="breadcrumb-main-title" style="padding-top: 10px;">{{ info.videos }} VIDEO{% if info.videos > 1 %}S{% endif %}</h1>
                        <p class="breadcrumb-subtitle">¿Cómo preparar? y Recetas</p>
                    </div>

                    <div class="container col-md-3" >
                        <h1 class="breadcrumb-main-title" style="padding-top: 10px;">${{ info.price | number_format(2, '.', ',') }} MENSUALES</h1>
                    </div>
                </div>

                <div class="breadcrumb-block">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li><a href="index.html" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">Tipo de Café</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div id="coffeeLimit" data-coffee-limit="{{ info.package_per_month }}"></div>
    {% endfor %}
{% endblock %}

{% block content %}
	<div class="gfort-section">
	    <div class="section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-12">
	                    <div class="section-title text-center">
	                        <h2 class="section-main-title">LA HORA DEL CAFÉ</h2>
	                        <p class="section-subtitle"><b>Elige los sabores</b> que te llegarán éste y los siguientes meses hasta que los cambies. Podrás hacerlo en tu perfil cuantas veces quieras y así disfrutar de todas nuestras variedades. Recuerda que a tu orden agregaremos 4 nuevos videos cada mes que te llagarán por correo.</p>
	                        <br>
	                        <a href="#modal-3">¿Qué es procesamiento y especie?</a>
	                    </div>
	                </div>

                    <div class="col-md-3">
                        <div class="gfort-block image-block gfort-block-style-4 wow flipInX" data-wow-duration="1.5s" data-wow-delay="0.25s">
                            <div class="gfort-block-container">
                                <div style="margin-bottom: 10px;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="wishlistitem" value="sorprendeme" data-quantity="sorprendemeQty">
                                        </label>
                                    </div>
                                           
                                    <div class="quantity">
                                        <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="form-control" id="sorprendemeQty">
                                    </div>
                                </div>                        
                                
                                <div class="gfort-block-head">
                                    <img src="images/borolaTpl/comprar/thumb_sorprendeme.png" alt="Sorpréndeme">
                                </div>

                                <div class="gfort-block-body">
                                    <div class="gfort-block-title">
                                        <h4>SORPRÉNDEME</h4>
                                        <p class="coffeedescription">Oaxaca, Chiapas, Veracruz o Guerrero.</p>
                                    </div>

                                    <div class="gfort-block-content">
                                        <div class="gfort-block-title">
                                            <i class="fa fa-shopping-bag"></i>
                                            <span class="badge"></span>
                                            <h4>PERFIL</h4>
                                            <p class="coffeedescription">Elegimos por ti, te enviaremos algunas de nuestras variedades.</p>
                                            
                                            <i class="fa fa-shopping-bag"></i>
                                            <span class="badge"></span>
                                            <h4>ESPECIE</h4>
                                            <p class="coffeedescription">Coffea arabica</p>

                                            <i class="fa fa-shopping-bag"></i>
                                            <span class="badge"></span>
                                            <h4>PROCESAMIENTO</h4>
                                            <p class="coffeedescription">Lavado</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for coffee in coffees %}
                        <div class="col-md-3">
                        	<div class="gfort-block image-block gfort-block-style-4 wow flipInX" data-wow-duration="1.5s" data-wow-delay="0.25s">
                        		<div class="gfort-block-container">
                        			<div style="margin-bottom: 10px;">
                        				<div class="checkbox">
                        					<label>
                        						<input type="checkbox" name="wishlistitem" value="{{ coffee._id }}" data-quantity="{{ coffee._id }}Qty">
                                            </label>
                                        </div>

                                        <div class="quantity">
                                        	<input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="form-control" id="{{ coffee._id }}Qty">
                                        </div>
                                    </div>                        
                                    
                                    <div class="gfort-block-head">
                                    	<img src="{{ coffee.image.url }}">
                                    </div>

                                    <div class="gfort-block-body">
                                        <div class="gfort-block-title">
                                            <h4>{{ coffee.name }}</h4>
                                            <p class="coffeedescription">{{ coffee.origin.name }}</p>
                                        </div>

                                        <div class="gfort-block-content">
                                            <div class="gfort-block-title">
                                            	<i class="fa fa-shopping-bag"></i>
                                            	<span class="badge"></span>
                                                <h4>PERFIL</h4>
                                                <p class="coffeedescription">{{ coffee.extract }}</p>
                                                
                                                <i class="fa fa-shopping-bag"></i>
                                                <span class="badge"></span>
                                                <h4>ESPECIE</h4>
                                                <p class="coffeedescription">Coffea {{ coffee.kind.name }}</p>

                                            	<i class="fa fa-shopping-bag"></i>
                                            	<span class="badge"></span>
                                            	<h4>PROCESAMIENTO</h4>
                                                <p class="coffeedescription">{{ coffee.process.name }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="section-button" style="text-align: center;">
                    <a href="#" class="btn btn-gfort-o" data-scroll>Elegir molienda</a>
                </div>
            </div>
        </div>
    </div>

    <div class="gfort-section main-background-color" style="padding: 50px 0 30px; background-image: url(images/borolaTpl/comprar/programas.jpg);" >
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gfort-block text-block text-center light-color">
                            <div class="gfort-block-container">
                                <div class="gfort-block-body">
                                    <div class="gfort-block-content">
                                        <h4>Con tu compra apoyamos a <a href="#" target="_blank">Programas Productivos Mexicanos</a>.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/borolaCustom/coffeeCounter.js"></script>
{% endblock %}
