{% extends "../layouts/default.twig" %}

{% block navbar %}
    <!-- <ul class="nav navbar-nav">
        <li class="megamenu">
            <a href="#planes">Quiero café</a>
        </li>

        <li class="megamenu">
            <a href="#cafes">Nuestros cafés</a>
        </li>

        <li class="megamenu">
            <a href="#sucursales">Sucursales</a>
        </li>
    </ul> -->
    <ul class="nav navbar-nav">
        {% for link in indexLinks %}
            {% set linkClass = '' %}
            {% if link.key == section %}
                {% set linkClass = 'active' %}
            {% endif %}
            <li clsss="megamenu {{ linkClass | striptags }}" >
                <a href="{{ link.href }}" data-scroll>{{ link.label }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="gfort-section parallax-section" style="background-image: url(/images/borolaTpl/index/app/001.jpg); padding: 100px 0 70px;" id="section-0">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="gfort-block image-block gfort-block-style-6 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.25s">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <img src="/images/borolaTpl/index/app/002.png" alt="Intro Image" />
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-5">
                        <div class="gap gap-100 hidden-sm hidden-xs"></div>
                        <div class="section-title intro-section-title light-color">
                            <h2 class="section-main-title">CREAMOS CONTIGO</h2>
                            <p class="section-subtitle"> Llevamos nuestros sabores a tu casa. <br> Elige tu membresía mensual, escoge el sabor y se parte de la comunidad Borola.</p>

                            <div class="hr-divider hr-divider-style-1"></div>

                            <div class="section-button">
                                <a href="#section-5" class="btn btn-gfort-o" data-scroll>Quiero Café</a>
                            </div>
                        </div>
                        <div class="gap gap-30"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    	 
    <div class="gfort-section main-background-color" style="padding: 30px 0 0px;">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gfort-block text-block text-center light-color">
                            <div class="gfort-block-container">
                                <div class="gfort-block-body">
                                    <div class="gfort-block-content">
                                        <h4>Con tu compra apoyamos a <a href="#" target="_blank">Programas Productivos Mexicanos</a>.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gfort-section" id="planes">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="section-main-title">COMPARTIMOS TU AMOR POR EL CAFÉ</h2>
                            <p class="section-subtitle">Acompaña la vida con una buena taza de café. Pídelo hoy y prepárate, porque en 5 días llega tu primer entrega.</p>
                            <div class="hr-divider hr-divider-style-1"></div>
                        </div>
                    </div>

                    {% for plan in plans %}
                        <a href="#">
                            <div class="col-md-3 col-sm-6" style="padding: 0;">
                                <div class="gfort-block image-block gfort-block-style-5 mb-0 br-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                                    <div class="gfort-block-container">
                                        <div class="gfort-block-head">
                                            <a href="#" class="scale-hover">
                                                <img src="{{plan.photo.url}}" alt="Image" />
                                            </a>
                                        </div>

                                        <div class="gfort-block-body">    
                                            <div class="gfort-block-title">
                                                <i class="fa fa-shopping-bag"></i>
                                                <span class="badge"></span>
                                                <h4>{{plan.name}}</h4>
                                                <p>{{plan.weight.weight}} gr. c/u</p>

                                                <i class="fa fa-shopping-bag"></i>
                                                <span class="badge"></span>
                                                <h4>{{plan.videos}} NUEVOS VIDEOS</h4>
                                                <p>¿Cómo preparar mi café?</p>

                                                <h4>${{plan.price}} Mensual</h4>
                                                <br>
                                                
                                                <div class="section-button">
                                                	<a href="/comprar?plan={{plan.id}}" class="btn btn-gfort-o" data-plan="{{plan.id}}">Quiero Café</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 

    <div class="gfort-section parallax-section" style="background-image: url(/images/borolaTpl/index/002.jpg);">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title light-color text-center">
                            <h2>RECIBE TU SABOR FAVORITO, SABOR SORPRESA O UNO DE CADA UNO.</h2>
                            <p>Tú eliges cómo quieres disfrutar de nuestros sabores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gfort-section">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2>LA MEJOR PREPARACIÓN</h2>
                            <p>Para disfrutar de mejor manera nuestros sabores, te enviaremos a tu correo, una vez al mes 4 videos como este:</p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="gfort-block media-block">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <video poster="/images/borolaTpl/index/video/video-bg.jpg">
                                        <source type="video/mp4" src="http://templates.graphicfort.com/plume/video/001.mp4" />
                                        <source type="video/ogg" src="http://templates.graphicfort.com/plume/video/001.ogv" />
                                        To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gfort-section fullwidth-section pt-0 pb-0" id="sucursales">
        <div class="section-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2>EXPERIENCIA BOROLA</h2>
                            <p>Te invitamos a ser parte de nosotros. Visítanos en nuestras sucursales.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6" style="padding: 0;">
                        <div class="gfort-block image-block gfort-block-style-5 mb-0 br-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.25s">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <a href="#" class="scale-hover">
                                        <img src="/images/borolaTpl/index/suc_004.jpg" alt="Image" />
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div style="margin: 30px">
                            <h4 class="blog-item-title">
                                <a href="#" title="You must do the things you think you can't do">SAN JOSÉ INSURGENTES</a>
                            </h4>

                            <div class="blog-item-description">
                            	<p>José Ma. Ibarraran 57. Col. San José Insurgentes. CDMX. C.P. 3900</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6" style="padding: 0;">
                        <div class="gfort-block image-block gfort-block-style-5 mb-0 br-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <a href="#" class="scale-hover">
                                        <img src="/images/borolaTpl/index/suc_005.jpg" alt="Image" />
                                    </a>
                                </div>
                            </div>
                        </div>
            			<div style="margin: 30px">
                            <h4 class="blog-item-title">
                                <a href="" title="You must do the things you think you can't do">COYOACÁN</a>
                            </h4>
                            
                            <div class="blog-item-description">
                                <p>Centenario 29-C, Col. Del Carmen. CDMX. C.P. 4100 </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6" style="padding: 0;">
                        <div class="gfort-block image-block gfort-block-style-5 mb-0 br-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.75s">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <a href="https://goo.gl/maps/1tr7pHtkqnM2" target="_blank" title="Borola Roma Norte" class="scale-hover">
                                        <img src="/images/borolaTpl/index/suc_006.jpg" alt="Image" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        
        				<div style="margin: 30px">
        					<h4 class="blog-item-title">
        						<a href="https://goo.gl/maps/1tr7pHtkqnM2" target="_blank" title="Borola Roma Norte">ROMA NORTE</a>
                        	</h4>

                        	<div class="blog-item-description">
                        		<p>Jalapa 181, Col. Roma Norte. CDMX C.P. 6700</p>
                        	</div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6" style="padding: 0;">
                        <div class="gfort-block image-block gfort-block-style-5 mb-0 br-0 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">
                            <div class="gfort-block-container">
                                <div class="gfort-block-head">
                                    <a href="#" class="scale-hover">
                                        <img src="/images/borolaTpl/index/suc_007.jpg" alt="Image" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        
        				<div style="margin: 30px">
        					<h4 class="blog-item-title">
        						<a href="#" title="You must do the things you think you can't do">SAN ÁNGEL</a>
        					</h4>
                        
                            <div class="blog-item-description">
                            	<p>Plaza San Jacinto 12, Col. San Ángel. CDMX. C.P. 01000 Teléfono 55.50.72.75</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
