{% extends "../layouts/default.twig" %}

{% block content %}
	{% for plan in plans %}
		<div class="plan__card">
			<ul class="plan__attributes">
				<li><p>{{ plan.package_per_month }} ENTREGA MENSUAL <span>500 gr. c/u</span></p></li>
				<li><p>4 VIDEOS <span>¿Cómo preparar mi café?</span></p></li>
			</ul>
			<p class="plan--price">{{ plan.price}} AL MES</p>
			<button class="btn btn--purple" data-plan="plan">QUIERO CAFÉ</button>
		</div>
	{% endfor %}
{% endblock %}
