{% import "../mixins/flash-messages.twig" as FlashMessages %}
{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title|default("Borola Shop") }}</title>
		<meta name="author" content="Borola">
		<meta name="robots" content="index follow">
		<meta name="googlebot" content="index follow">
		<meta name="keywords" content="Cafe, delicioso, aroma, mexico, oaxaca, chiapas, veracruz, calidad">
		<meta name="description" content="Venta de planes de café a domicilio">

		<!-- Mobile Configurations
        ======================================================================== -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

        <script src="/js/vendor/modernizr-custom.js"></script>

		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% block css %}{% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<a href="#" class="btn-gfort-top"><i class="fa fa-angle-up"></i></a>
    	
    	<div id="main-wrapper">
			<header class="header-section fixed-header transparent-header">
	            <div class="header-section-container">
	                <div class="header-menu">
	                    <div class="header-menu-container">
                            <nav class="navbar">
                            	<div class="container">
	                                <div class="row">
	                                    <div class="col-md-12">
	                                    	<div class="navbar-header">
										        <a href="index.html" class="navbar-brand" title="PLUME">
										            <img src="/images/borolaTpl/logo.png" alt="PLUME Logo" />
										        </a>
										    </div>

										    <ul class="header-btns">
										        <li class="header-cart-btn">
										            <a href="#" title="Profile">
										                <i class="fa fa-shopping-bag"></i><span class="badge"></span>
										            </a>
										        </li>
										    </ul>

										    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
										        <span class="menu-wd">Menú</span>
										        <span class="lines-wrapper"><i class="lines"></i></span>
										    </button>

										    <div class="navbar-collapse collapse">
		                        				{% block navbar %}{% endblock %}
		                        			</div>
		                        		</div>
		                        	</div>
		                        </div>
                            </nav>

	                        <div class="form-block header-search-form-block">
	                            <div class="form-block-container">
	                                <form method="get" action="search-results.html">
	                                    <div class="col-md-12">
	                                        <div class="form-group">
	                                            <a href="#" class="form-close-btn">&times;</a>
	                                            <input type="text" class="form-control" placeholder="Type then hit enter to search..." name="s" autocomplete="off">
	                                        </div>
	                                    </div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>

	        {% block beforeBody %}{% endblock %}

    		<div class="page-body">
				{% block intro %}{% endblock %}
				{{ FlashMessages.renderMessages(messages) }}
				<div class="main-content">
    				<div class="main-content-container">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>

			<footer class="footer-section">
                <div class="footer-copyright-section" style="margin-top: 100px">
                    <div class="footer-copyright-section-container">
                        <div class="container">
                            <div class="row">
                                <div class="copyright-widget widget-left-side">
                                    <div class="copyright-widget-container">
                                        <div class="info-block">
                                            <div class="info-block-container">
                                                <p>2017<a href="http://borola.mx" title="Borola Café" target="_blank">Borola Café</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="copyright-widget widget-right-side">
                                    <div class="copyright-widget-container">
                                        <div class="info-block">
                                            <div class="info-block-container">
                                                <p><i class="glyphicon glyphicon-earphone"></i> <a href="tel:+11234567890" title="+1 123 456-7890">+1 123 456-7890</a> <span class="gfort-dash">-</span> <i class="fa fa-envelope"></i> <a href="mailto:support@example.com" title="support@example.com">support@example.com</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
		</div>

		<script src="/js/jquery/jquery-1.11.3.min.js"></script>

		<!-- BOROLA TPL SCRIPTS -->
        <script type="text/javascript" src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
        <script type="text/javascript" src="/js/borolaTpl/plugins.js"></script>
        <script type="text/javascript" src="/js/borolaTpl/scripts.js"></script>

		{% if (user is defined) and (user.canAccessKeystone) %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}
		
		{% block js %}{% endblock %}
	</body>
</html>
{% endspaceless %}