/*
Template Name: plume
Template URL: http://gfort.co/plume
Description: PLUME HTML5 Multipurpose Template
Version: 1.2
Author: Graphicfort
Author URL: http://graphicfort.com
License: Custom
License URL: http://themeforest.net/licenses/standard
*/




html {
  direction: rtl;
}
body {
  direction: rtl;
}
.flip.text-left {
  text-align: right;
}
.flip.text-right {
  text-align: left;
}
.list-unstyled {
  padding-right: 0;
  padding-left: initial;
}
.list-inline {
  padding-right: 0;
  padding-left: initial;
  margin-right: -5px;
  margin-left: 0;
}
dd {
  margin-right: 0;
  margin-left: initial;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: right;
    clear: right;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-right: 180px;
    margin-left: 0;
  }
}
blockquote {
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
.blockquote-reverse,
blockquote.pull-left {
  padding-left: 15px;
  padding-right: 0;
  border-left: 5px solid #eeeeee;
  border-right: 0;
  text-align: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  left: 100%;
  right: auto;
}
.col-xs-pull-11 {
  left: 91.66666667%;
  right: auto;
}
.col-xs-pull-10 {
  left: 83.33333333%;
  right: auto;
}
.col-xs-pull-9 {
  left: 75%;
  right: auto;
}
.col-xs-pull-8 {
  left: 66.66666667%;
  right: auto;
}
.col-xs-pull-7 {
  left: 58.33333333%;
  right: auto;
}
.col-xs-pull-6 {
  left: 50%;
  right: auto;
}
.col-xs-pull-5 {
  left: 41.66666667%;
  right: auto;
}
.col-xs-pull-4 {
  left: 33.33333333%;
  right: auto;
}
.col-xs-pull-3 {
  left: 25%;
  right: auto;
}
.col-xs-pull-2 {
  left: 16.66666667%;
  right: auto;
}
.col-xs-pull-1 {
  left: 8.33333333%;
  right: auto;
}
.col-xs-pull-0 {
  left: auto;
  right: auto;
}
.col-xs-push-12 {
  right: 100%;
  left: 0;
}
.col-xs-push-11 {
  right: 91.66666667%;
  left: 0;
}
.col-xs-push-10 {
  right: 83.33333333%;
  left: 0;
}
.col-xs-push-9 {
  right: 75%;
  left: 0;
}
.col-xs-push-8 {
  right: 66.66666667%;
  left: 0;
}
.col-xs-push-7 {
  right: 58.33333333%;
  left: 0;
}
.col-xs-push-6 {
  right: 50%;
  left: 0;
}
.col-xs-push-5 {
  right: 41.66666667%;
  left: 0;
}
.col-xs-push-4 {
  right: 33.33333333%;
  left: 0;
}
.col-xs-push-3 {
  right: 25%;
  left: 0;
}
.col-xs-push-2 {
  right: 16.66666667%;
  left: 0;
}
.col-xs-push-1 {
  right: 8.33333333%;
  left: 0;
}
.col-xs-push-0 {
  right: auto;
  left: 0;
}
.col-xs-offset-12 {
  margin-right: 100%;
  margin-left: 0;
}
.col-xs-offset-11 {
  margin-right: 91.66666667%;
  margin-left: 0;
}
.col-xs-offset-10 {
  margin-right: 83.33333333%;
  margin-left: 0;
}
.col-xs-offset-9 {
  margin-right: 75%;
  margin-left: 0;
}
.col-xs-offset-8 {
  margin-right: 66.66666667%;
  margin-left: 0;
}
.col-xs-offset-7 {
  margin-right: 58.33333333%;
  margin-left: 0;
}
.col-xs-offset-6 {
  margin-right: 50%;
  margin-left: 0;
}
.col-xs-offset-5 {
  margin-right: 41.66666667%;
  margin-left: 0;
}
.col-xs-offset-4 {
  margin-right: 33.33333333%;
  margin-left: 0;
}
.col-xs-offset-3 {
  margin-right: 25%;
  margin-left: 0;
}
.col-xs-offset-2 {
  margin-right: 16.66666667%;
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-right: 8.33333333%;
  margin-left: 0;
}
.col-xs-offset-0 {
  margin-right: 0%;
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-sm-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-sm-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-sm-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-sm-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-sm-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-sm-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-sm-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-sm-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-sm-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-sm-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-sm-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-sm-pull-0 {
    left: auto;
    right: auto;
  }
  .col-sm-push-12 {
    right: 100%;
    left: 0;
  }
  .col-sm-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-sm-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-sm-push-9 {
    right: 75%;
    left: 0;
  }
  .col-sm-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-sm-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-sm-push-6 {
    right: 50%;
    left: 0;
  }
  .col-sm-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-sm-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-sm-push-3 {
    right: 25%;
    left: 0;
  }
  .col-sm-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-sm-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-sm-push-0 {
    right: auto;
    left: 0;
  }
  .col-sm-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-sm-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-sm-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-sm-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-sm-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-md-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-md-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-md-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-md-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-md-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-md-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-md-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-md-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-md-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-md-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-md-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-md-pull-0 {
    left: auto;
    right: auto;
  }
  .col-md-push-12 {
    right: 100%;
    left: 0;
  }
  .col-md-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-md-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-md-push-9 {
    right: 75%;
    left: 0;
  }
  .col-md-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-md-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-md-push-6 {
    right: 50%;
    left: 0;
  }
  .col-md-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-md-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-md-push-3 {
    right: 25%;
    left: 0;
  }
  .col-md-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-md-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-md-push-0 {
    right: auto;
    left: 0;
  }
  .col-md-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-md-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-md-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-md-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-md-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-md-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-md-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-md-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-md-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-md-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-md-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-lg-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-lg-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-lg-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-lg-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-lg-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-lg-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-lg-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-lg-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-lg-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-lg-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-lg-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-lg-pull-0 {
    left: auto;
    right: auto;
  }
  .col-lg-push-12 {
    right: 100%;
    left: 0;
  }
  .col-lg-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-lg-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-lg-push-9 {
    right: 75%;
    left: 0;
  }
  .col-lg-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-lg-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-lg-push-6 {
    right: 50%;
    left: 0;
  }
  .col-lg-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-lg-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-lg-push-3 {
    right: 25%;
    left: 0;
  }
  .col-lg-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-lg-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-lg-push-0 {
    right: auto;
    left: 0;
  }
  .col-lg-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-lg-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-lg-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-lg-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-lg-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
caption {
  text-align: right;
}
th {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-right: 0;
    border-left: initial;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-left: 0;
    border-right: initial;
  }
}
.radio label,
.checkbox label {
  padding-right: 20px;
  padding-left: initial;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
  margin-left: auto;
}
.radio-inline,
.checkbox-inline {
  padding-right: 20px;
  padding-left: 0;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-right: 10px;
  margin-left: 0;
}
.has-feedback .form-control {
  padding-left: 42.5px;
  padding-right: 12px;
}
.form-control-feedback {
  left: 0;
  right: auto;
}
@media (min-width: 768px) {
  .form-inline label {
    padding-right: 0;
    padding-left: initial;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    margin-right: 0;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  left: 15px;
  right: auto;
}
.caret {
  margin-right: 2px;
  margin-left: 0;
}
.dropdown-menu {
  right: 0;
  left: auto;
  float: left;
  text-align: right;
}
.dropdown-menu.pull-right {
  left: 0;
  right: auto;
  float: right;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  float: right;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-right: -1px;
  margin-left: 0px;
}
.btn-toolbar {
  margin-right: -5px;
  margin-left: 0px;
}
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: right;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-right: 5px;
  margin-left: 0px;
}
.btn-group > .btn:first-child {
  margin-right: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-group {
  float: right;
}
.btn-group.btn-group-justified > .btn,
.btn-group.btn-group-justified > .btn-group {
  float: none;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-group:last-child > .btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn .caret {
  margin-right: 0;
}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-right: 0;
}
.input-group .form-control {
  float: right;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:first-child {
  border-left: 0px;
  border-right: 1px solid;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:last-child {
  border-left-width: 1px;
  border-left-style: solid;
  border-right: 0px;
}
.input-group-btn > .btn + .btn {
  margin-right: -1px;
  margin-left: auto;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-left: -1px;
  margin-right: auto;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-right: -1px;
  margin-left: auto;
}
.nav {
  padding-right: 0;
  padding-left: initial;
}
.nav-tabs > li {
  float: right;
}
.nav-tabs > li > a {
  margin-left: auto;
  margin-right: -2px;
  border-radius: 4px 4px 0 0;
}
.nav-pills > li {
  float: right;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-right: 2px;
  margin-left: auto;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-right: 0;
  margin-left: auto;
}
.nav-justified > .dropdown .dropdown-menu {
  right: auto;
}
.nav-tabs-justified > li > a {
  margin-left: 0;
  margin-right: auto;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-radius: 4px 4px 0 0;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: right;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-brand {
  float: right;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-right: -15px;
    margin-left: auto;
  }
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: auto;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 25px 5px 15px;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
  .navbar-right {
    float: left !important;
  }
  .navbar-left {
    float: right !important;
  }
  .navbar-nav > li {
    float: right !important;
  }
}
@media (min-width: 768px) {
  .navbar-left.flip {
    float: right !important;
  }
  .navbar-right:last-child {
    margin-left: -15px;
    margin-right: auto;
  }
  .navbar-right.flip {
    float: left !important;
    margin-left: -15px;
    margin-right: auto;
  }
  .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }
}
@media (min-width: 768px) {
  .navbar-text {
    float: right;
  }
  .navbar-text.navbar-right:last-child {
    margin-left: 0;
    margin-right: auto;
  }
}
.pagination {
  padding-right: 0;
}
.pagination > li > a,
.pagination > li > span {
  float: right;
  margin-right: -1px;
  margin-left: 0px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-right: -1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pager {
  padding-right: 0;
  padding-left: initial;
}
.pager .next > a,
.pager .next > span {
  float: left;
}
.pager .previous > a,
.pager .previous > span {
  float: right;
}
.nav-pills > li > a > .badge {
  margin-left: 0px;
  margin-right: 3px;
}
.list-group-item > .badge {
  float: left;
}
.list-group-item > .badge + .badge {
  margin-left: 5px;
  margin-right: auto;
}
.alert-dismissable,
.alert-dismissible {
  padding-left: 35px;
  padding-right: 15px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  right: auto;
  left: -21px;
}
.progress-bar {
  float: right;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-left.flip {
  margin-right: 0;
  margin-left: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.media > .pull-right.flip {
  margin-left: 0;
  margin-right: 10px;
}
.media-right,
.media > .pull-right {
  padding-right: 10px;
  padding-left: initial;
}
.media-left,
.media > .pull-left {
  padding-left: 10px;
  padding-right: initial;
}
.media-list {
  padding-right: 0;
  padding-left: initial;
  list-style: none;
}
.list-group {
  padding-right: 0;
  padding-left: initial;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-right: 0;
  border-left: none;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: none;
  border-left: 0;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
  right: 0;
  left: auto;
}
.close {
  float: left;
}
.modal-footer {
  text-align: left;
}
.modal-footer.flip {
  text-align: right;
}
.modal-footer .btn + .btn {
  margin-left: auto;
  margin-right: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-right: -1px;
  margin-left: auto;
}
.modal-footer .btn-block + .btn-block {
  margin-right: 0;
  margin-left: auto;
}
.popover {
  left: auto;
  text-align: right;
}
.popover.top > .arrow {
  right: 50%;
  left: auto;
  margin-right: -11px;
  margin-left: auto;
}
.popover.top > .arrow:after {
  margin-right: -10px;
  margin-left: auto;
}
.popover.bottom > .arrow {
  right: 50%;
  left: auto;
  margin-right: -11px;
  margin-left: auto;
}
.popover.bottom > .arrow:after {
  margin-right: -10px;
  margin-left: auto;
}
.carousel-control {
  right: 0;
  bottom: 0;
}
.carousel-control.left {
  right: auto;
  left: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  right: auto;
  margin-right: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  left: auto;
  margin-left: -10px;
}
.carousel-indicators {
  right: 50%;
  left: 0;
  margin-right: -30%;
  margin-left: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: 0;
    margin-right: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-left: 0;
    margin-right: -15px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
}
.pull-right.flip {
  float: left !important;
}
.pull-left.flip {
  float: right !important;
}
/* =============================================================================
================================================================================
================================================================================
============================================================================= */
@media (min-width: 768px) {
  .navbar-collapse.collapse { float: left; }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
      margin-left: auto;
      margin-right: auto;
  }
}
.navbar-toggle { margin: 32px 0; }
.navbar-toggle span.menu-wd {
    padding-right: 0;
    padding-left: 5px;
}
.header-menu-left-side .navbar-toggle { float: right; }

ul.header-btns {
    float: left;
    margin: 0 25px 0 0;
    padding: 0 10px 0 0;
    border-left: 0;
    border-right: 1px solid #efefef;
}
ul.header-btns > li {
    float: right;
    margin: 0 15px 0 0;
}

ul.header-btns > li > a span.badge {
    float: left;
    margin: 0 2px 0 0;
}
.header-cart {
    left: 0;
    right: auto;
}
ul.shop-products li .remove-btn {
    float: left;
    margin: 3px 15px 0 0;
}
ul.shop-products li a.item-image {
    float: right;
    margin: 2px 0 0 13px;
}
.header-cart-container .total-price span.amount { float: left; }

.header-search-form-block .form-control { padding: 0 0 0 25px; }
.header-search-form-block .form-close-btn {
    left: 0;
    right: auto;
}

@media (min-width: 768px) {
    .header-menu-left-side .navbar-collapse.collapse { float: right; }
}
.sidebar-header .header-menu {
    padding-right: 5px;
    padding-left: 15px;
}
.sidebar-header .header-menu .menu-arrow i.fa-angle-right:before { content: '\f104'; }
.sidebar-header ul.navbar-nav li ul {
    padding-left: 0 !important;
    padding-right: 10px !important;
}

.menu-arrow {
    float: left;
    margin-left: 0;
    text-align: left;
    margin-right: 5px;
}
ul.navbar-nav li ul {
    right: 0;
    left: auto;
}
ul.navbar-nav li ul ul {
    left: auto;
    right: 100%;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
ul.navbar-nav li ul li a { text-align: right; }
ul.navbar-nav li.subMenu_correctPosition ul {
    left: 0;
    right: auto;
}
ul.navbar-nav li.subMenu_correctPosition ul ul {
    left: 100%;
    right: auto;
}
ul.navbar-nav li.subMenu_correctPosition ul li a { text-align: left; }
ul.navbar-nav li.subMenu_correctPosition ul li a .menu-arrow {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

ul.navbar-nav li.megamenu > ul > li {
    float: right;
    border-right: 0;
    border-left: 1px solid #efefef;
}
ul.navbar-nav li.megamenu > ul > li:nth-child(4n+1) {
    clear: none;
    clear: right;
}

.top-header-widget.widget-left-side.pt-0.pb-0,
.top-header-widget.widget-left-side.col-w-25.pt-20.pb-20 {
    float: right;
    clear: right;
    text-align: right;
}
.top-header-widget.widget-right-side.pt-26.pb-26,
.top-header-widget.widget-right-side.col-w-75.pt-20.pb-20 {
    float: left;
    clear: left;
    text-align: left;
}


.info-block-container i,
.info-block-container a i {
    margin-right: 0;
    margin-left: 1px;
}

.breadcrumb-block .breadcrumb > li { float: right; }
.breadcrumb-block .breadcrumb > li + li:before { content: '\f104'; }
.page-title-section.page-title-section-wide .breadcrumb-title { float: right; }
.page-title-section.page-title-section-wide .breadcrumb-block { float: left; }

.widget-block-container .widget-block-title h6 {
    padding-right: 0;
    padding-left: 30px;
}
.widget-block-container .widget-block-title h6::after {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -20px;
}
.widget-block-container .widget-block-title::after {
    left: 0;
    right: auto;
}
ul.links-block li a::before,
ul.categories-block li a::before {
    margin: 0 0 0 8px;
}
ul.categories-block li a span { float: left; }
ul.blog-posts li a.item-image {
    float: right;
    margin: 3px 0 0 13px;
}
ul.blog-posts li .blog-item-meta span.item-meta-date { float: right; }
ul.blog-posts li .blog-item-meta span.item-meta-comments { float: left; }
.tags-block-container ul li { float: right; }

.blog-item-meta span.item-meta-format { margin: 0 0 0 12px; }
.blog-item-meta span.item-meta-format a { float: right; }
.blog-item-meta span::after { float: left; }
.blog-item-meta span:not(.item-meta-format) i {
    float: right;
    margin-right: 0;
    margin-left: 3px;
}
.blog-item-read-btn a i.fa-long-arrow-right:before { content: '\f177'; }
.blog-item-read-btn a:hover i {
    margin-left: 0;
    margin-right: 3px;
}
.blog-item-author a img,
.blog-item-author a span,
.blog-item-footer .blog-item-author { float: right; }
.blog-item-author a span { margin: 0 6px 0 0; }
.blog-item-footer .blog-item-btns { float: left; }
.blog-item-btns ul.blog-item-btns-list > li { float: right; }
.blog-item-btns ul.blog-item-btns-list > li > p i, .blog-item-btns ul.blog-item-btns-list > li > a i {
    margin-right: 0;
    margin-left: 4px;
}
.blog-item-body .blog-item-format-desc i { margin: 0 0 0 7px; }
@media (min-width: 768px) {
    .blog-items-small-thumbs .blog-item:not(.format-link):not(.format-quote) .blog-item-media {
        float: right;
        margin: 0 0 0 25px;
    }
}
.blog-col-2 .blog-item:nth-child(2n+1) { clear: right; }
.blog-col-2 .blog-item { float: right; }
.blog-col-2.blog-timeline .blog-item {
    float: left;
    clear: left;
    padding-left: 15px;
    padding-right: 40px;
}
.blog-col-2.blog-timeline .blog-item:nth-child(2n+1) {
    float: right;
    clear: right;
    padding-left: 40px;
    padding-right: 15px;
}
.blog-timeline .blog-item .blog-item-body .blog-item-title::before {
    left: auto;
    right: -71px;
}
.blog-col-2.blog-timeline .blog-item:nth-child(2n+1) .blog-item-body .blog-item-title::before {
    left: -71px;
    right: auto;
}
.blog-col-2.blog-timeline .blog-item .blog-item-body .blog-item-title::after {
    left: auto;
    right: -56px;
    content: '\f178';
}
.blog-timeline .blog-item .blog-item-container:hover .blog-item-body .blog-item-title::after {
    left: auto;
    right: -61px;
}
.blog-timeline .blog-item:nth-child(2n+1) .blog-item-container:hover .blog-item-body .blog-item-title::after {
    left: -61px;
    right: auto;
}
.blog-col-2.blog-timeline .blog-item:nth-child(2n+1) .blog-item-body .blog-item-title::after {
    left: -55px;
    right: auto;
    content: '\f177';
}
.blog-col-1.blog-timeline::before,
.blog-col-1.blog-timeline .timeline-date::after {
    left: auto;
    right: 4px;
}
.blog-col-1.blog-timeline .blog-item {
    padding-left: 0;
    padding-right: 30px;
}
.blog-col-1.blog-timeline .blog-item .blog-item-title::before {
    left: auto;
    right: -30px;
}
.related-blog-posts-container ul.blog-posts li:nth-child(3n+1),
.page-left-sidebar .related-blog-posts-container ul.blog-posts li:nth-child(2n+1),
.page-right-sidebar .related-blog-posts-container ul.blog-posts li:nth-child(2n+1) {
    clear: right;
}
.related-blog-posts-container ul.blog-posts li { float: right; }
.page-left-sidebar .related-blog-posts-container ul.blog-posts li:nth-child(3n+1),
.page-right-sidebar .related-blog-posts-container ul.blog-posts li:nth-child(3n+1) {
    clear: none;
}

.gfort-navigation-block .pagination > li { float: right; }
.gfort-navigation-block .pager > li.next { float: left; }
.gfort-navigation-block .pager > li.previous { float: right; }
.gfort-navigation-block .pager > li.next i.fa-long-arrow-right:before { content: '\f177'; }
.gfort-navigation-block .pager > li.previous i.fa-long-arrow-left:before { content: '\f178'; }
.gfort-navigation-block .pagination > li i.fa-angle-right:before { content: '\f104'; }
.gfort-navigation-block .pagination > li i.fa-angle-left:before { content: '\f105'; }
ul.gfort-pager li { float: right; }
ul.gfort-pager li.next { text-align: left; }
ul.gfort-pager li.previous { text-align: right; }
ul.gfort-pager li.next a {
    padding-right: 0;
    padding-left: 28px;
}
ul.gfort-pager li.previous a {
    padding-left: 0;
    padding-right: 28px;
}
ul.gfort-pager li.next a i {
    left: 0;
    right: auto;
}
ul.gfort-pager li.previous a i {
    right: 0;
    left: auto;
}
ul.gfort-pager li.next a i.fa-angle-double-right:before { content: '\f100'; }
ul.gfort-pager li.previous a i.fa-angle-double-left:before { content: '\f101'; }
ul.gfort-pager li.next a img {
    float: left;
    margin-left: 0;
    margin-right: 15px;
}
ul.gfort-pager li.previous a img {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
ul.gfort-pager-style-1 li.next a i {
    left: 20px;
    right: auto;
}
ul.gfort-pager-style-1 li.previous a i {
    left: auto;
    right: 20px;
}
ul.gfort-pager-style-1 li.next a,
ul.gfort-pager-style-2 li.next a {
    padding-left: 48px;
    padding-right: 20px;
}
ul.gfort-pager-style-1 li.previous a,
ul.gfort-pager-style-2 li.previous a {
    padding-left: 20px;
    padding-right: 48px;
}
ul.gfort-pager-style-2 li.next a i {
    left: 20px;
    right: auto;
}
ul.gfort-pager-style-2 li.previous a i {
    left: auto;
    right: 20px;
}
@media (min-width: 1200px) {
    ul.gfort-pager-style-3 li.next {
        left: 0;
        right: auto;

        -webkit-transform: translateX(-200px);
            -ms-transform: translateX(-200px);
                transform: translateX(-200px);
    }
    ul.gfort-pager-style-3 li.previous {
        right: 0;
        left: auto;

        -webkit-transform: translateX(200px);
            -ms-transform: translateX(200px);
                transform: translateX(200px);
    }
    ul.gfort-pager-style-3 li.next a {
        padding-right: 0;
        padding-left: 200px;
        border-radius: 0 2px 2px 0;
    }
    ul.gfort-pager-style-3 li.previous a {
        padding-left: 0;
        padding-right: 200px;
        border-radius: 2px 0 0 2px;
    }
    ul.gfort-pager-style-3 li.next a img {
        left: 0;
        right: auto;
        border-radius: 0 2px 0 0;

        -webkit-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
                transform: translateX(-40px);
    }
    ul.gfort-pager-style-3 li.previous a img {
        right: 0;
        left: auto;
        border-radius: 2px 0 0 0;

        -webkit-transform: translateX(40px);
            -ms-transform: translateX(40px);
                transform: translateX(40px);
    }
    ul.gfort-pager-style-3 li a .gfort-pager-title h6 { text-align: right; }
    ul.gfort-pager-style-3 li.next a .gfort-pager-title h6 { border-radius: 0 0 2px 0; }
    ul.gfort-pager-style-3 li.previous a .gfort-pager-title h6 { border-radius: 2px 0 0 0; }
    ul.gfort-pager-style-3 li.next a:hover { border-radius: 0 2px 0 0; }
    ul.gfort-pager-style-3 li.previous a:hover { border-radius: 2px 0 0 0; }
    ul.gfort-pager-style-3 li:hover {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    ul.gfort-pager-style-3 li a:hover img {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    ul.gfort-pager-style-3 li.next:hover i {
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    ul.gfort-pager-style-3 li.previous a:hover i {
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
    }
}
@media (min-width: 1200px) {
    ul.gfort-pager-style-4 li.next {
        left: 0;
        right: auto;

        -webkit-transform: translateX(-80px);
            -ms-transform: translateX(-80px);
                transform: translateX(-80px);
    }
    ul.gfort-pager-style-4 li.previous {
        right: 0;
        left: auto;

        -webkit-transform: translateX(80px);
            -ms-transform: translateX(80px);
                transform: translateX(80px);
    }
    ul.gfort-pager-style-4 li.next a {
        padding-right: 0;
        padding-left: 80px;
        border-radius: 0 2px 2px 0;
    }
    ul.gfort-pager-style-4 li.previous a {
        padding-left: 0;
        padding-right: 80px;
        border-radius: 2px 0 0 2px;
    }
    ul.gfort-pager-style-4 li.next a img {
        left: 0;
        right: auto;
        border-radius: 0 2px 2px 0;

        -webkit-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
                transform: translateX(-40px);
    }
    ul.gfort-pager-style-4 li.previous a img {
        right: 0;
        left: auto;
        border-radius: 2px 0 0 2px;

        -webkit-transform: translateX(40px);
            -ms-transform: translateX(40px);
                transform: translateX(40px);
    }
    ul.gfort-pager-style-4 li:hover {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    ul.gfort-pager-style-4 li.next a:hover { border-radius: 0 2px 0 0; }
    ul.gfort-pager-style-4 li.previous a:hover { border-radius: 2px 0 0 0; }
    ul.gfort-pager-style-4 li.next:hover i {
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    ul.gfort-pager-style-4 li.previous a:hover i {
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
    }
    ul.gfort-pager-style-4 li a:hover img {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

}

.author-block-avatar {
    float: right;
    margin: 0 0 0 15px;
}

blockquote {
    border: 2px solid #efefef;
    padding: 20px 60px 20px 25px;
}
blockquote::before {
    left: auto;
    right: 25px;
}

.share-block > span { float: right; }
.share-block .social-icons-block { float: left; }

.comment-block-container .comment-block-avatar {
    float: right;
    margin-left: 20px;
    margin-right: auto;
}
ul.comments-block-list ul { padding: 0 63px 0 0; }

.isotope-filter-container a span.items-count {
    float: left;
    margin-left: 0;
    margin-right: 5px;
}
.portfolio-col-1 .portfolio-item .portfolio-item-media { float: right; }
.portfolio-col-1 .portfolio-item .portfolio-item-body {
    padding-left: 0;
    padding-right: 25px;
}
.portfolio-no-margin .portfolio-item .portfolio-item-body {
    padding-right: 0;
    padding-left: 20px;
}
.fullwidth-section .portfolio-no-margin .portfolio-item .portfolio-item-body { padding-right: 20px; }
.portfolio-title-overlay .portfolio-item .portfolio-item-body { padding: 60px 20px 20px; }
.portfolio-title-overlay .portfolio-item .portfolio-item-body::after { display: none;}
.portfolio-title-overlay .portfolio-item .portfolio-item-media a.overlay-hover::before,
.portfolio-title-overlay .portfolio-item .portfolio-item-media a.overlay-hover-2x::before {
    left: auto;
    right: 10px;
}
.portfolio-col-2 .portfolio-item { float: right; }
.portfolio-col-2 .portfolio-item:nth-child(2n+1) { clear: right; }
.portfolio-col-3 .portfolio-item { float: right; }
.portfolio-col-3 .portfolio-item:nth-child(3n+1) { clear: right; }
.portfolio-col-4 .portfolio-item { float: right; }
.portfolio-col-4 .portfolio-item:nth-child(4n+1) { clear: right; }
.portfolio-col-5 .portfolio-item { float: right; }
.portfolio-col-5 .portfolio-item:nth-child(5n+1) { clear: right; }
.portfolio-single-item.portfolio-single-item-sbs .portfolio-item .portfolio-item-media {
    float: right;
    clear: right;
    padding: 0 0 0 15px;
}
.portfolio-single-item.portfolio-single-item-sbs .portfolio-item .portfolio-item-body { padding: 0 15px 0 0; }
.related-portfolio-projects ul.portfolio-projects li { float: right; }
.related-portfolio-projects ul.portfolio-projects li:nth-child(3n+1) { clear: right; }

ul.portfolio-item-info li span {
    margin-right: 0;
    margin-left: 10px;
}

.btn-gfort,
.btn-gfort-o,
.btn-gfort-grey,
.btn-gfort-grey-o,
.btn-gfort-white,
.btn-gfort-white-o,
.btn-gfort-alt,
.btn-gfort-alt-o {
    margin: 0 0 0 15px;
}

.alert-gfort {
    border-left: 0;
    border-right: 10px solid rgba(0, 0, 0, 0.15);
}
.alert-shop a.btn {
    margin-right: 0;
    margin-left: 5px;
}

.chosen-container-single .chosen-single div {
    left: 0;
    right: auto;
}
.chosen-container-single .chosen-single span {
    margin-right: 0;
    margin-left: 18px;
}
.chosen-container-single .chosen-search input[type=text] { padding: 4px 12px 4px 30px; }
.chosen-container-single .chosen-search::after {
    left: 21px;
    right: auto;
}
.chosen-container .chosen-drop {
    left: auto;
    right: -9999px;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
    left: auto;
    right: -9999px;
}

.chosen-container.chosen-with-drop .chosen-drop {
    right: 0;
    left: auto;
}

.radio label,
.checkbox label {
    padding-left: 0;
    padding-right: 0;
}

.shop-col-2 .shop-item,
.shop-col-3 .shop-item,
.shop-col-4 .shop-item,
.shop-col-5 .shop-item {
    float: right;
}
.shop-col-2 .shop-item:nth-child(2n+1) { clear: right; }
.shop-col-3 .shop-item:nth-child(3n+1) { clear: right; }
.shop-col-4 .shop-item:nth-child(4n+1) { clear: right; }
.shop-col-5 .shop-item:nth-child(5n+1) { clear: right; }
.shop-item-container .shop-item-media a .onsale {
    left: auto;
    right: 15px;
}
.shop-items-info p {
    float: right;
    clear: right;
}
.shop-items-info form {
    float: left;
    clear: left;
}
.shop-single-item article.shop-item .shop-item-body .shop-item-title a.btn-wishlist {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.shop-single-item article.shop-item .shop-item-media {
    float: right;
    clear: right;
    padding: 0 0 0 15px;
}
.shop-single-item article.shop-item .shop-item-body { padding: 0 15px 0 0; }
.product-rating .rate-block {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.product-rating a { float: right; }
.shop-item-body span.price del .amount {
    margin-right: 0;
    margin-left: 10px;
}
.quantity-form-block .quantity {
    float: right;
    margin: 0 0 30px 20px;
}
.related-shop-products-container ul.products li { float: right; }
.coupon input {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
ul.dashed li {
    border-right: 0;
    border-left: 1px dashed #efefef;
}
ul.dashed li:last-child { border: 0; }

.event-item-container .event-item-date {
    float: right;
    margin: 0 0 0 20px;
}
.event-item-meta span i {
    margin-right: 0;
    margin-left: 5px;
}
.event-item-meta span::after { float: left; }
.event-item-read-btn a i.fa-long-arrow-right:before { content: '\f177'; }
.event-item-read-btn a:hover i {
    margin-left: 0;
    margin-right: 3px;
}
.related-events-blocks-container ul.events-blocks li { float: right; }

.downtime-counter-block-container .downtime-col { float: right; }

.team-block-style-1 .team-block-media {
    float: right;
    margin: 0 0 0 20px;
}

.pricing-table-block-head .pricing-table-block-price h2 { direction: ltr; }

.infoWindow-block > img {
    right: auto;
    left: -12px;
}

.gfort-control-btns button { left: 0; }

.social-icons-block ul li a:nth-child(2) {
    text-align: right;
    padding-left: 0;
    padding-right: 6px;
}
.social-icons-block.icons-lg ul li a:nth-child(2) { padding-right: 10px; }

.twitter-feed-block .twitter-head .twitter-avatar {
    float: right;
    margin: 0 0 10px 8px;
}
.twitter-feed-block .twitter-date-btns .twitter-date { float: right; }
.twitter-feed-block .twitter-date-btns .twitter-btns { float: left; }
.twitter-feed-block-style-1 .twitter-head {
    float: right;
    margin: 0 0 0 15px;
}

.gfort-tabs-vertical.gfort-tabs .nav-tabs {
    float: right;
    margin: 0 0 0 30px;
}

.gfort-accordion .panel-heading .panel-title a::before {
    float: right;
    margin-right: 0;
    margin-left: 8px;
}
.gfort-accordion-style-1.gfort-accordion .panel-heading .panel-title a::before { margin-left: 10px; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-right: 0;
    border-left: 1px solid #efefef;
}
.table-no-border-right.table > tbody > tr > td,
.table-no-border-right.table > tbody > tr > th,
.table-no-border-right.table > tfoot > tr > td,
.table-no-border-right.table > tfoot > tr > th,
.table-no-border-right.table > thead > tr > td,
.table-no-border-right.table > thead > tr > th {
    border-left: 0;
}

.progress-block-container h6 { float: right; }
.progress-block-container .counter-block { float: left; }

.icon-block.gfort-block .gfort-block-head {
    float: right;
    margin-left: 18px;
    margin-right: auto;
}
.icon-block.gfort-block-style-2 .gfort-block-title i,
.icon-block.gfort-block-style-8 .gfort-block-title i {
    margin-left: 10px;
    margin-right: auto;
}
.icon-block.gfort-block-style-3 .gfort-block-head,
.icon-block.gfort-block-style-9 .gfort-block-head {
    text-align: right;
    margin: 0 auto 20px;
}
.icon-block.gfort-block-style-5 .gfort-block-head,
.icon-block.gfort-block-style-5.text-right .gfort-block-head,
.icon-block.gfort-block-style-6 .gfort-block-head,
.icon-block.gfort-block-style-6.text-right .gfort-block-head,
.icon-block.gfort-block-style-7 .gfort-block-head,
.icon-block.gfort-block-style-7.text-right .gfort-block-head,
.icon-block.gfort-block-style-10 .gfort-block-head,
.icon-block.gfort-block-style-10.text-right .gfort-block-head,
.icon-block.gfort-block-style-11 .gfort-block-head,
.icon-block.gfort-block-style-11.text-right .gfort-block-head,
.icon-block.gfort-block-style-12 .gfort-block-head,
.icon-block.gfort-block-style-12.text-right .gfort-block-head {
    float: none;
    margin: 0 auto 25px;
}

.image-block.gfort-block-style-2 .gfort-block-head {
    float: right;
    margin-left: 18px;
    margin-right: auto;
}

.process-block.gfort-block-style-2 .gfort-block-head {
    float: right;
    margin: 0 0 0 15px;
}
.process-block.gfort-block-style-5 .gfort-block-body .process-block-number,
.process-block.gfort-block-style-6 .gfort-block-body .process-block-number {
    left: auto;
    right: 50%;
    margin: 28px -66px 0 0;
}

.featured-pricing-table-block::after,
.featured-pricing-table-block::before {
    left: 20px;
    right: auto;
}
.pricing-table-block-style-1 .pricing-table-block-head {
    float: right;
    border-radius: 0 2px 2px 0;
}
.pricing-table-block-style-1 .pricing-table-block-body {
    text-align: right;
    border-radius: 0 0 2px 2px;
    padding: 25px 10px 20px 60px;
}
.pricing-table-block-style-1 .pricing-table-block-btn {
    text-align: left;
    padding: 0 0 0 25px;
}
.pricing-table-block-style-1 .pricing-table-block-body ul li { float: right; }

.testimonials-item-container .testimonials-item-footer { padding: 0 15px 0 0; }
.testimonials-item-footer .testimonials-item-avatar {
    float: right;
    margin: 0 0 0 12px;
}
.testimonials-item-container .testimonials-item-body::after {
    left: auto;
    right: 38px;
}
.testimonials-item-style-1 .testimonials-item-container {
    padding-left: 0;
    padding-right: 100px;
}
.testimonials-item-style-1 .testimonials-item-avatar {
    right: 0;
    left: auto;
}
.testimonials-item-style-2 .testimonials-item-avatar,
.testimonials-item-style-3 .testimonials-item-avatar {
    float: none;
    margin: 0 auto 15px;
}

.timeline-block-container .timeline-block-item { padding: 0 40px 30px 0; }
.timeline-block-container .timeline-block-head { padding: 0 25px 0 0; }
.timeline-block-head .timeline-block-date-from::after {
    right: auto;
    left: -10px;
}
.timeline-block-container .timeline-block-body::after,
.timeline-block-container .timeline-block-body::before {
    left: auto;
    right: -36.5px;
}
.timeline-block-body .timeline-block-title::before {
    left: auto;
    right: -66px;
}
.timeline-block-body .timeline-block-title::after {
    left: auto;
    right: -53px;
    content: '\f178';
}
.timeline-block-container .timeline-block-item:hover .timeline-block-title::after {
    left: auto;
    right: -56px;
}
.timeline-block-style-1 .timeline-block-title::before {
    left: auto;
    right: -40px;
}
.timeline-block-style-1 .timeline-block-title::after {
    left: auto;
    right: -27px;
}
.timeline-block-style-1 .timeline-block-item:hover .timeline-block-title::after {
    left: auto;
    right: -30px;
}

.icon-list li i:first-child {
    margin-right: 0;
    margin-left: 5px;
}

.sbs-list .gfort-list-head { float: left; }

.modal-body,
.modal-header {
    text-align: right;
}

.prettyprint.linenums { direction: ltr; }

.notification-block-content { text-align: right; }
.notification-block-content .notification-block-close-btn {
    float: left;
    margin: 0 15px 0 0;
}
.text-center .notification-block-close-btn {
    left: 23px;
    right: auto;
}

.account-form-block a.form-link { float: left; }

.search-item-meta span.item-meta-format { margin: 0 0 0 12px; }
.search-item-meta span::after { float: left; }

.sitemap-block-container ul {
    padding-left: 0;
    padding-right: 20px;
}
.sitemap-block-container ul li::before {
    left: auto;
    right: -20px;
}
.sitemap-block-container ul li::after {
    left: auto;
    right: -20px;
}


/* =============================================================================
   v1.2
============================================================================= */
.account-form-block-style-1 .checkbox { float: right; }
.account-form-block-style-1 .checkbox + .btn { float: left; }
.account-form-block-style-2 .form-block-title .form-link:first-child { float: right; }
.account-form-block-style-3 .checkbox { float: right; }
.account-form-block-style-3 .checkbox + .btn { float: left; }
.account-form-block-style-3 .form-block-title .form-link:first-child { float: right; }